@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');



.userName {
  color: aliceblue;
  margin-right: 70px;
  

}



 .user-logo {
  position: relative;
  width: 120px;
  left: 1rem;
}

.user-header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding-top: 10px;
  align-items: center;
}

.content {
  background-color: rgba(24, 17, 26, 0.542);
  width: 94vw;
  height: 45vw;
  display: flex;
  float: right;
  margin-right: 1.5rem;
  border-radius: 2rem;
}

.total-balance {
  color: aliceblue;
  font-size: 1em;
}

.balance {
  color: aliceblue;
  font-size: 3.8rem;
  margin-top: 0.1rem;
}
.resume-balance {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: 2rem;

}